.btn-plates{
    padding:                            1.5rem;
    border-radius:                      1rem;
    justify-content:                    space-between;
    align-items:                        center;
    font-weight:                        bold;
    cursor:                             pointer;
    text-transform:                     uppercase;
    transition:                         all .2s ease-in-out;
    border:                             2px solid #cccccc70;
    background:                         #ffffff
    no-repeat
    right .75em center;
}
.btn-plates:hover{
    margin-top:                         -1px;
    margin-bottom:                      1px;
    color:                              darkred;
    -webkit-box-shadow:                 0 5px 10px 2px #223C5033;
    -moz-box-shadow:                    0 5px 10px 2px #223C5033;
    box-shadow:                         0 5px 10px 2px #223C5033;
}
.achievements{
    background-image:                   url("../img/medal.png");
}
.personal-report{
    background-image:                   url("../img/doc.png");
}
@media screen and (max-width: 350px){
    .btn-plates{
        background-image:               none;
        text-align: center;
    }
}
